/* globali */
*{
    font-family: 'Bonheur Royale', cursive;
    font-size: 20px;
    font-weight: bold;
}

:root{
    --main: #3f33ff;
    --sec: #7874bb;
    --accent: rgb(255, 69, 0);
    --black: #202020;
    --white: #f9f2fd;
    --gray: #6f7581;
}

.tc-main{
    color: var(--main);
}
.tc-black{
    color: var(--black);
}
.tc-white{
    color: var(--white);
}
.tc-gray{
    color: var(--gray);
}
/* .tc-linear {
    background: linear-gradient( to right , var(--main) , var(--sec));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} */


.bg-main{
    background-color: var(--main);
}
.bg-black{
    background-color: var(--black);
}
.bg-white{
    background-color: var(--white);
}
.bg-gray{
    background-color: var(--gray);
}
body{
    background-color:var(--black) ;
}
.btn-main{
    background-color: transparent;
    border: 3px solid var(--main);
    border-radius: 10px;
    padding: 10px 30px;
    color: var(--main);
    font-weight: 600;
    transition: all 0.5s;
}
.btn-main:hover{
    background-color: var(--main);
    color: var(--white);
}
.btn-sec{
    background-color: transparent;
    border: 3px solid var(--sec);
    border-radius: 10px;
    padding: 10px 30px;
    color: var(--sec);
    font-weight: 600;
    transition: all 0.5s;
}
.btn-sec:hover{
    background-color: var(--sec);
    color: var(--white);
}

/*navbar  */
.navbar-presto{
    background-color: transparent;
}
.navbar-presto .nav-link{
    color: var(--white)!important;
    transition: all 0.5s;
    border-bottom: 2px solid transparent;
    padding: 0;
}

.navbar-presto .nav-link:hover{
    color: var(--white);
    font-weight: 600;
    transform: scale(1.1);
    border-bottom: 2px solid var(--main);
}
.navbar-presto.bg-white .nav-link:hover{
    color: var(--black);
    font-weight: 600;
    transform: scale(1.1);
    border-bottom: 2px solid var(--main);
}
.navbar-presto.bg-white .nav-link{
    color: var(--black)!important;
    
}
.navbar-presto .navbar-brand{
    color: var(--main);
}
.navbar-presto .navbar-brand:hover{
    color: var(--main);
}
.navbar-presto .navbar-toggler{
    transition: all 0.5s;
}
.navbar-presto .navbar-toggler:focus{
    box-shadow: none;
    border-color: transparent;
}
.navbar-dark .navbar-toggler {
    color: rgba(255,255,255,.55);
    /* border-color: rgba(255,255,255,.1); */
}

/* header */
.masthead{
    height: 100vh;
    min-height: 500px;
    margin-top: 25px;
}
.fa-optin-monster{
    text-shadow: -3px -3px 10px transparent;
    transition: all 0.5s;
}
.fa-optin-monster:hover{
    text-shadow: -3px -3px 10px var(--accent);
}

/* categorie */
.under-line::before{
    content: '';
    background-color: var(--main);
    width: 150px;
    height: 5px;
    position: absolute;
    bottom: -25px;
    left: calc(50% - 75px);
}
.card-category{
    background-color: transparent;
    border-radius: 20px;
    padding: 20px 30px;
    max-width: 400px;
    border:  3px solid var(--main);
    
}
.card-product, .card-category{
    -webkit-box-shadow: 5px 5px 20px 0px #7e7e7e;
    box-shadow: 5px 5px 20px 0px #7e7e7e;
    transition: all 0.5s!important;
}
.card-category:hover, .card-product:hover{
    -webkit-box-shadow: 0px 0px 10px 0px #7e7e7e; 
    box-shadow: 0px 0px 10px 0px #7e7e7e;
    
}
/* articles */
.card-product{
    border-radius: 20px;
    overflow: hidden;
    border: 3px solid var(--main);
    max-width: 350px;
    margin: auto;
}
.card-product .card-product-body{
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.swiper-button-prev, .swiper-button-next{
    color: var(--accent);
}




/* filter by price */
section.range-slider {
    position: relative;
    width: 100%;
    
    text-align: center;
}
.range-height{
    height: 97px;
}
section.range-slider input[type=range] {
    pointer-events: none;
    position: absolute;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 14px;
    background: linear-gradient(to right, var(--main), var(--sec));
    box-shadow: inset 0 1px 0 0 #cdc6c6, inset 0 -1px 0 0 #d9d4d4;
    -webkit-box-shadow: inset 0 1px 0 0 #cdc6c6, inset 0 -1px 0 0 #d9d4d4;
    overflow: hidden;
    left: 0;
    top: 30px!important;
    width: 100%;
    outline: none;
    height: 20px;
    margin: 0;
    padding: 0;
}
section.range-slider input[type=range]::-webkit-slider-thumb {
    pointer-events: all;
    position: relative;
    z-index: 1;
    outline: 0;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 14px;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dad8da), color-stop(100%, #413F41));
    /* android <= 2.2 */
    background-image: -webkit-radial-gradient(circle, var(--black), var(--accent));
    /* older mobile safari and android > 2.2 */
    background-image: radial-gradient(circle, var(--black), var(--accent));
    /* W3C */
}
section.range-slider input[type=range]::-moz-range-thumb {
    pointer-events: all;
    position: relative;
    z-index: 10;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 14px;
    background-image: linear-gradient(to bottom, #dad8da 0, #413F41 100%);
    /* W3C */
}
section.range-slider input[type=range]::-ms-thumb {
    pointer-events: all;
    position: relative;
    z-index: 10;
    -ms-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 14px;
    border: 0;
    background-image: linear-gradient(to bottom, #dad8da 0, #413F41 100%);
    /* W3C */
}
section.range-slider input[type=range]::-moz-range-track {
    position: relative;
    z-index: -1;
    background-color: black;
    border: 0;
}
section.range-slider input[type=range]:last-of-type::-moz-range-track {
    -moz-appearance: none;
    background: none transparent;
    border: 0;
}
section.range-slider input[type=range]::-moz-focus-outer {
    border: 0;
}

/* media-queries */
@media screen and (max-width: 920px) {
    .navbar-presto{
        background-color: var(--white);        
    }
    .navbar-presto .nav-link {
        color: var(--black)!important;
        transition: all 0.5s;
        border-bottom: 2px solid transparent;
        padding: 0;
    }
    .category{
        margin-top: 100px;        
    }
    .m-responsive{
        margin: 0!important;
    }
    .rt-size{
        font-size: 25px!important;
    }
    .mt-responsive-custom{
        margin-top: 50px;
    }
    
}